* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #dcd9fc;
}
.divApp {
  
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100wh;
   flex-direction: column;
}

.pDataCity {
   color: rgb(38, 38, 115);
    margin: 20px;
    font-size: 20px;
}
.SitySelector {
    display: flex;
    align-items: center;
    justify-content: center;
}
